#
# Copyright 2016 The CyanogenMod Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

import /vendor/etc/init/hw/init.qcom-common.rc

on init
    symlink /sdcard /storage/sdcard0

on post-fs
    # Reverse Keys
    write /proc/s1302/key_rep 1

    # Torch
    chown system camera /sys/class/leds/led:flash_torch/brightness
    chmod 0660 /sys/class/leds/led:flash_torch/brightness

    # Tri-state keys
    chown root system /proc/tri-state-key/keyCode_top
    chown root system /proc/tri-state-key/keyCode_middle
    chown root system /proc/tri-state-key/keyCode_bottom
    chmod 0660 /proc/tri-state-key/keyCode_top
    chmod 0660 /proc/tri-state-key/keyCode_middle
    chmod 0660 /proc/tri-state-key/keyCode_bottom

on fs
    mount_all /vendor/etc/fstab.qcom
    restorecon_recursive /persist
    mkdir /persist/data 0700 system system
    mkdir /persist/data/sfs 0700 system system
    mkdir /persist/data/tz 0700 system system

service ppd /system/bin/mm-pp-daemon
    class late_start
    disabled
    user system
    socket pps stream 0660 system system
    group system graphics

on property:init.svc.surfaceflinger=stopped
    stop ppd

on property:init.svc.surfaceflinger=running
    start ppd

# diag logging
service diag_mdlog_start /system/bin/diag_mdlog
    class late_start
    user shell
    group system qcom_diag sdcard_rw sdcard_r media_rw
    disabled
    oneshot

service diag_mdlog_stop /system/bin/diag_mdlog -k
    class late_start
    user shell
    group system qcom_diag sdcard_rw sdcard_r media_rw
    disabled
    oneshot

service qlogd /system/xbin/qlogd
    class main
    disabled
on property:persist.sys.qlogd=1
    start qlogd
on property:persist.sys.qlogd=0
    stop qlogd

service ssr_diag /system/bin/ssr_diag
    class late_start
    disabled
    user system
    group system

service pfm /system/bin/pfm
    class late_start
    user system
    group system drmrpc mount

service ril-daemon1 /system/bin/rild -c 2
    class main
    socket rild2 stream 660 root radio
    socket sap_uim_socket2 stream 660 bluetooth bluetooth
    socket rild-debug2 stream 660 radio system
    user root
    group radio cache inet misc audio log readproc wakelock qcom_diag
